
{% extends "todoapp/base.html" %}

{% block content %}

<div class="card-body">
  <form action="{% url 'add_todo' %}" method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
          <input type="text" class="form-control" autofocus name="content" placeholder="Add todo here.." aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
              <i class="fa-solid fa-circle-plus"></i> Add
            </button>
          </div>
        </div>
  </form>
  
  <ul class="list-group">
    {% for todo in todo_list %}
      {% if todo.complete == False %}
      <li class="list-group-item">{{ todo.content }}
        <a href="{% url 'edit_todo' todo.id %}" class="button float-right d-inline">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <form action="" method="post" class="float-right d-inline pr-2">
          {% csrf_token %}
          <a href="{% url 'delete_todo' todo.id %}"  type="submit" id="button-addon2">
            <i class="fa-solid fa-trash text-danger"></i>
          </a>
          <a href="{% url 'complete_todo' todo.id %}" class="button float-right d-inline pl-2">
            <i class="fa-regular fa-square text-secondary"></i>
          </a>
        </form>
      </li>
      {% endif %}
    {% empty %}
    <li class="list-group-item">No Todo items found!</li>
    {% endfor %}

    <li class="list-group-item text-success">Completed</li>

    {% for todo in todo_list %}
      {% if todo.complete == True %}
      <li class="list-group-item"><s>{{ todo.content }}</s>
        <a href="{% url 'edit_todo' todo.id %}" class="button float-right d-inline">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <form action="" method="post" class="float-right d-inline pr-2">
          {% csrf_token %}
          <a href="{% url 'delete_todo' todo.id %}"  type="submit" id="button-addon2">
            <i class="fa-solid fa-trash text-danger"></i>
          </a>
          <a href="{% url 'complete_todo' todo.id %}" class="button float-right d-inline pl-2">
            <i class="fa-solid fa-square-check text-secondary"></i>
          </a>
        </form>
      </li>
      {% endif %}
    {% empty %}
    <li class="list-group-item">No Todo items found!</li>
    {% endfor %}

    
  </ul>
</div>

{% endblock %}
