
{% extends "todoapp/base.html" %}

{% block content %}

<div class="card-body">
  <form action="{% url 'update_todo' todo.id %}" method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
          <input type="text" class="form-control" autofocus value="{{ todo.content}}" name="content" placeholder="Add todo here.." aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
              <i class="fa-solid fa-circle-plus"></i> Update
            </button>
          </div>
        </div>
  </form>
</div>

{% endblock %}


